a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp113dc287{ color:#386BA3; text-decoration: none} 
		a.wsp113dc287:visited{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:active{ color:#0000A0; text-decoration: none} 
		a.wsp113dc287:hover{ color:#6C8AAA; text-decoration: none} 
#button_74c5dc35 { vertical-align: bottom; position:relative; display: inline-block; margin:5px 0px 0px 0px;width:175px; height:38px; background-color:#464BBB; box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.588235);  }
#button_74c5dc35:hover { background-color:#7A8591;  }
#button_74c5dc35:hover span { color:#FFFFFF; }
body { background-color:#F1F1F1; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_eaea99e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1024px; background:none;  }
#container_eaea99e_padding { margin: 10px; display: block;  }
#container_6a5612c4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:252px; background-color:#FFFFFF; background-image: url(rc_images/notebook_small.jpg); background-position:bottom left; background-size:cover;  }
#container_6a5612c4_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle3 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle4 { text-align:left; }
#container_1de1103f { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; width:100%; min-height:113px; background-color:rgba(0, 0, 0, 0.6);  }
#container_1de1103f_padding { margin: 10px; display: block;  }
.textstyle5 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_22e4a421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:1207px; background-color:#FFFFFF;  }
#container_22e4a421_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_470ac4dd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_470ac4dd_padding { margin: 10px; display: block;  }
#container_5c19d71c { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5c19d71c_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle8 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.5;  }
.textstyle10 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2;  }
#container_9e8f6cb { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_9e8f6cb_padding { margin: 10px; display: block;  }
.textstyle11 { text-align:right; }
#img_6f0ee363 { vertical-align: bottom; position:relative; display: inline-block; width:74%; background:none;  }
#container_4e6f07ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4e6f07ae_padding { margin: 10px; display: block;  }
#container_48ef720e { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_48ef720e_padding { margin: 10px; display: block;  }
#img_25c634d8 { vertical-align: bottom; position:relative; display: inline-block; width:69%; background:none;  }
#container_5b94d7a6 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5b94d7a6_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#525252; line-height: 1.2;  }
.textstyle13 { font-size:28pt; font-family:Arial, Helvetica, sans-serif; color:#1F1F1F; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
#container_5abfa5b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#3A5068;  }
#container_5abfa5b_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2; text-shadow: 2px 2px 2px #C0C0C0;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; line-height: 1.2;  }
#button_74c5dc35_padding { margin: 10px; display: block;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
#container_52758fb0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_52758fb0_padding { margin: 10px; display: block;  }
#container_271f2cf6 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_271f2cf6_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454; font-weight:bold;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#545454;  }
#container_c145133 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_c145133_padding { margin: 10px; display: block;  }
#container_301a3c75 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_301a3c75_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#container_5c19d71c { width:100%;  }
		#container_9e8f6cb { width:100%;  }
		#container_48ef720e { width:100%;  }
		#container_5b94d7a6 { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#container_271f2cf6 { width:100%;  }
		#container_c145133 { width:100%;  }
		#container_301a3c75 { width:100%;  }
}
